src/main/resources/world/images/**/*.png filter=lfs diff=lfs merge=lfs -text
src/main/resources/world/audio/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
src/main/resources/world/audio/**/*.ogg filter=lfs diff=lfs merge=lfs -text
src/main/resources/world/audio/**/*.wav filter=lfs diff=lfs merge=lfs -text
